:root {
  --clr-green: hsl(89, 100%, 29%);
  --clr-orange: hsl(32, 99%, 54%);
  --clr-orange-dark: hsl(29, 92%, 46%);
  --clr-yellow: hsl(55, 100%, 59%);
  --clr-orange-grad: hsl(36, 98%, 78%);
  --clr-pink-grad: hsl(13, 98%, 83%);
  --clr-red: hsl(0, 83%, 45%);
  --clr-black-blue: hsl(206, 12%, 23%);
  --clr-gray: hsl(0, 1%, 46%);
  --clr-gray-smoky: hsl(0, 0%, 67%);
  --clr-light-gray: hsl(150, 8%, 95%);
  --clr-frosted-glass-white: rgba(255, 255, 255, 0.52);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --ff-primary: "Roboto", sans-serif;
}

/* ------------------ */
/*       RESET        */
/* ------------------ */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.6;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
•

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* GENERAL STYLING  */
/* ---------------- */

body {
  font-family: var(--ff-primary);
  width: 100%;
}

/* navigation component*/
.top-nav {
  width: 100%;
  height: 80px;
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
}

.top-nav ul {
  width: 1160px;
  height: 100%;
  display: flex;
  gap: 3.8rem;
  justify-content: start;
  align-items: center;
}

.top-nav ul li:last-child {
  margin-left: auto;
}

.top-logo {
  border: 1px solid var(--clr-white);
  width: 82px;
  height: 52px;
  border-radius: 3px;
  text-align: center;
  font-size: 19px;
  line-height: 26px;
  position: relative;
}

.logo-bamboo-icon {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.watch-animals {
  background-image: url(../../assets/images/Giant\ Panda.png);
  background-position-y: bottom;
  height: 700px;
  width: 100%;
  padding-top: 12px;
  padding-left: 807px;
}

.circle {
  width: 465px;
  height: 465px;
  background-color: var(--clr-orange);
  border-radius: 50%;
  padding-top: 74px;
  padding-left: 74px;
  position: relative;
}

.circle-heading {
  font-size: 106.5px;
  color: var(--clr-white);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.75;
  text-align: center;
  height: 400px;
  width: 500px;
}

.favorite-span {
  color: var(--clr-yellow);
}

.watch-btn {
  position: absolute;
  top: 534px;
  right: 0;
}

/* article component */
.article {
  width: 1160px;
  height: 403px;
  display: flex;
  margin-top: 140px;
  margin-inline: auto;
  gap: 87px;
  color: var(--clr-black-blue);
  line-height: 1.3;
}

.article-heading {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.article-subheading {
  font-size: 24px;
  margin-top: 54px;
  margin-bottom: 34px;
}

.flower-right {
  position: absolute;
  top: 792px;
  right: 0;
}

/* choose animal component */
.animal-box-wrapper {
  display: flex;
  width: 1324px;
  margin-inline: auto;
  margin-top: 180px;
}
.animal-box-inner-wrapper {
  width: 1160px;
  margin-inline: auto;
}
.animal-box {
  display: flex;
  width: 100%;
  height: 870px;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
  margin-bottom: 80px;
}

.animal-box-item {
  width: 366px;
  height: 426px;
  border-radius: 5px;
  border: 2px solid var(--clr-orange);
  overflow: hidden;
}

.animal-name {
  text-transform: uppercase;
  color: var(--clr-black);
  font-size: 36/130px;
  font-weight: bold;
}

.animal-habitat {
  font-weight: lighter;
}

.animal-discription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  line-height: 1.2;
}

.arrow-left-container,
.arrow-right-container {
  width: 82;
  height: 870px;
  display: flex;
  align-items: center;
}

.choose-animal-btn {
  margin-inline: calc(50% - 149px);
}

.arrow-right-circle,
.arrow-left-circle {
  margin-block: auto;
  background-color: var(--clr-orange);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.arrow-right-circle:hover,
.arrow-left-circle:hover,
.choose-animal-btn:hover,
.watch-btn:hover,
.feed-btn:hover,
.rectangular-btn:hover {
  cursor: pointer;
  background-color: var(--clr-orange-dark);
}

.arrow-right-circle:active,
.arrow-left-circle:active,
.choose-animal-btn:active,
.watch-btn:active,
.feed-btn:active,
.rectangular-btn:active {
  cursor: pointer;
  background-color: var(--clr-green);
}

/* feed a friend component */
.feed-wrapper {
  background: linear-gradient(80deg, hsl(36, 98%, 78%), hsl(13, 98%, 83%));
  width: 100%;
  height: 1004px;
  margin-top: 100px;
  display: grid;
  place-content: center;
}

.feed-component {
  width: 1160px;
  height: 865px;
  background-color: var(--clr-frosted-glass-white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.feed-heading {
  margin-top: 40px;
  color: var(--clr-orange);
  font-size: 48px;
}

.feed-subheading {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.feed-text {
  margin-left: 100px;
  margin-right: 50px;
}

.covid-info {
  font-weight: bold;
  margin-bottom: 10px;
}

.support-text {
  margin-right: 140px;
}

.support-link {
  line-height: 1.5;
  color: var(--clr-black);
  text-decoration: underline;
  text-decoration-color: var(--clr-orange);
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.how-heading {
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.how-scheme {
  display: flex;
  align-items: center;
}

.cheme-item {
  width: 168px;
  height: 244px;
}

.cheme-arrow-item {
  width: 130px;
  height: 244px;
}
.how-img-container {
  background-color: var(--clr-white);
  width: 168px;
  height: 168px;
  display: grid;
  place-content: center;
  border-radius: 10px;
  border: 2px solid var(--clr-orange);
  margin-bottom: 30px;
}

.arrow-img-container {
  width: 130px;
  height: 168px;
  display: grid;
  place-content: center;
}

.arrow-caption {
  display: none;
}

.feed-btn {
  margin-top: 50px;
}

/* testimonials */
.testimonials-wrapper {
  margin-top: 140px;
  width: 1160px;
  margin-inline: auto;
  display: grid;
  place-items: center;
  line-height: 1.2;
}

.testimonials-heading {
  font-size: 36px;
  margin-bottom: 47px;
  color: var(--clr-black-blue);
}

.testimonials-list {
  display: flex;
  gap: 30px;
}

.testimonials-item {
  width: 268px;
  height: 391px;
  font-size: 15px;
  overflow: hidden;
  border: 2px solid var(--clr-orange);
  border-radius: 20px;
  padding: 15px 15px 20px 15px;
  background-color: var(--clr-light-gray);
}

.user {
  display: flex;
  width: 268px;
  gap: 10px;
  margin-bottom: 11px;
}

.user-photo {
  width: 37px;
  height: 37px;
}

.user-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--clr-black-blue);
}

.user-placetime {
  color: var(--clr-gray-smoky);
}

address,
time {
  display: inline;
  color: var(--clr-gray-smoky);
  font-weight: lighter;
}

.dot {
  font-weight: bold;
  color: var(--clr-gray-smoky);
}
.user-feedback {
  margin-bottom: 20px;
  height: 309px;
  overflow: hidden;
  color: #767474;
  font-weight: lighter;
}

.horizontal-scrollbar {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 8px;
  width: 600px;
  border-radius: 4px;
  background-color: var(--clr-light-gray);
}

.scroller {
  height: 6px;
  width: 115px;
  background-color: var(--clr-orange);
  border-radius: 3px;
  cursor: pointer;
}

.feedback-btn {
  margin-right: auto;
}

/* footer */
footer {
  margin-top: 180px;
  background-color: #111115;
  height: 443px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-content {
  display: flex;
  width: 1160px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  color: var(--clr-white);
  height: 100%;
}

.footer-left {
  width: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.social-list {
  display: grid;
  gap: 10px;
}
.social-item {
  display: flex;
  gap: 12px;
}

.social-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--clr-gray);
  display: grid;
  place-items: center;
}

.social-icon {
}
.footer-center {
  width: 1fr;
  display: flex;
  align-items: flex-end;
}

.footer-center nav {
  width: 100%;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.footer-right {
  width: 1fr;
  height: 100%;
  /* padding-bottom: 50px; */
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: start;
}

.form-lable {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-email {
  border: 1px solid var(--clr-orange);
  background-color: #111115;
  border-radius: 3px;
  width: 228px;
  height: 42px;
  padding-left: 10px;
}
.form-emal:invalid {
  border: 1px solid var(--clr-red);
}
.submit-btn {
  width: 129px;
  height: 42px;
  color: var(--clr-black-blue);
  background-color: var(--clr-white);
  border-radius: 5px;
  border: 1px solid var(--clr-black-blue);
  margin-left: 10px;
  cursor: pointer;
}

.submit-btn:active {
  color: var(--clr-green);
  border: 1px solid var(--clr-green);
}

.designer-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  font-weight: lighter;
  padding-bottom: 40px;
}
.designer-link {
  margin-bottom: 50px;
}
#designer,
#entity,
#year {
  font-weight: 100;
  color: var(--clr-gray-smoky);
}

/* ---------------- */
/* UTILITY STYLES  */
/* ---------------- */

.clr-white {
  color: var(--clr-white);
}

.round-btn {
  width: 298px;
  height: 54px;
  background-color: var(--clr-orange);
  border-radius: 30px;
  border: 0;
  text-transform: uppercase;
  color: var(--clr-white);
}

.rectangular-btn {
  width: 298px;
  height: 54px;
  background-color: var(--clr-orange);
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  color: var(--clr-white);
}
