:root {
  --clr-green: hsl(89, 100%, 29%);
  --clr-orange: hsl(32, 99%, 54%);
  --clr-orange-dark: hsl(29, 92%, 46%);
  --clr-yellow: hsl(55, 100%, 59%);
  --clr-orange-grad: hsl(36, 98%, 78%);
  --clr-pink-grad: hsl(13, 98%, 83%);
  --clr-red: hsl(0, 83%, 45%);
  --clr-black-blue: hsl(206, 12%, 23%);
  --clr-gray: hsl(0, 1%, 46%);
  --clr-gray-smoky: hsl(0, 0%, 67%);
  --clr-light-gray: hsl(150, 8%, 95%);
  --clr-frosted-glass-white: rgba(255, 255, 255, 0.52);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --ff-primary: "Roboto", sans-serif;
}

/* ------------------ */
/*       RESET        */
/* ------------------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.6;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
•

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* GENERAL STYLING  */
/* ---------------- */

body {
  font-family: var(--ff-primary);
  width: 100%;
}

/* navigation component*/
.top-nav {
  width: 100%;
  height: 80px;
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
}

.top-nav ul {
  width: 1160px;
  height: 100%;
  display: flex;
  gap: 3.8rem;
  justify-content: start;
  align-items: center;
}

.top-nav ul li:last-child {
  margin-left: auto;
}

.top-logo {
  border: 1px solid var(--clr-white);
  width: 82px;
  height: 52px;
  border-radius: 3px;
  text-align: center;
  font-size: 19px;
  line-height: 26px;
  position: relative;
}

.logo-bamboo-icon {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.nav-item:hover {
  color: var(--clr-orange);
}
.watch-animals {
  background-image: url(../../assets/images/Giant\ Panda.png);
  background-position-y: center;
  height: 390px;
  width: 100%;
}

/* feed a friend component */
.feed-wrapper {
  background: linear-gradient(120deg, hsl(13, 98%, 83%), hsl(36, 98%, 78%));
  width: 100%;
  height: 1482px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.donation-component {
  margin-top: 40px;
  margin-bottom: 60px;
  width: 1160px;
}

.donation-heading {
  color: var(--clr-white);
  font-size: 36px;
  margin-bottom: 5px;
}

.donation-subheading {
  color: var(--clr-orange);
  font-size: 36px;
}
.donation-text {
  color: var(--clr-white);
  margin-bottom: 40px;
}

.feed-component {
  width: 1160px;
  height: 964px;
  background-color: var(--clr-frosted-glass-white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-heading {
  margin-top: 40px;
  color: var(--clr-orange);
  font-size: 48px;
}

.feed-subheading {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.feed-text {
  font-size: 24px;
  color: var(--clr-black-blue);
  margin-bottom: 60px;
}

.panda-diet {
  width: 100%;
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panda-diet-quantity {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  margin-right: 10px;
}

.diet-num {
  font-size: 74px;
  font-weight: bold;
  text-align: center;
}

.panda-icon {
  margin-left: 60px;
}

.amount-subheading {
  margin-top: 48px;
  margin-bottom: 10px;
}

/* form */
.amount-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount-radiogroup {
  height: 27px;
  width: 976px;
  background-color: var(--clr-black-blue);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  align-items: center;
  position: relative;
  margin-bottom: 98px;
}

.radio-line {
  height: 2px;
  background-color: var(--clr-gray-smoky);
  width: 915px;
  position: absolute;
  top: calc(50% - 1px);
}

.amount-radiogroup input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--clr-yellow);
  position: relative;
  cursor: pointer;
}

.amount-radiogroup input[type="radio"]:checked + label {
  color: var(--clr-orange);
}
.amount-radiogroup input[type="radio"]:checked::before {
  content: " ";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--clr-orange);
  position: absolute;
  top: -7px;
  left: -7px;
}
.amount-radiogroup input[type="radio"]:checked::after {
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--clr-orange);
  position: absolute;
  top: -15px;
  left: -15px;
}

.radio-item {
  position: relative;
}

.amount-radiogroup label {
  position: absolute;
  bottom: -50px;
  left: -20px;
  color: var(--clr-black-blue);
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
}

#another-amount {
  width: 258px;
  height: 54px;
  border: 2px solid var(--clr-gray-smoky);
  background-color: transparent;
  padding: 10px;
  appearance: none;
  border-radius: 3px;
}

.friquency-radiogroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.friquency-radiogroup input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--clr-orange);
}

.friquency-radiogroup input[type="radio"]:checked {
  background-color: var(--clr-orange);
}

.friquency-radiogroup label:hover {
  cursor: pointer;
}

.feed-btn {
  margin-bottom: 30px;
}

/* footer */
footer {
  background-color: #111115;
  height: 443px;
  padding-top: 40px;
  padding-bottom: 50px;
  width: 100%;
}

.footer-content {
  width: 1160px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  color: var(--clr-white);
  height: 100%;
}

.footer-left {
  width: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.social-list {
  display: grid;
  gap: 10px;
}
.social-item {
  display: flex;
  gap: 12px;
}

.social-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--clr-gray);
  display: grid;
  place-items: center;
}

.footer-center {
  width: 1fr;
  display: flex;
  align-items: flex-end;
}

.footer-center nav {
  width: 100%;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.footer-right {
  width: 1fr;
  height: 100%;
  padding-bottom: 50px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: start;
}

.form-lable {
  font-size: 24px;
}

.form-email {
  border: 1px solid var(--clr-orange);
  background-color: #111115;
  border-radius: 3px;
  width: 228px;
  height: 42px;
  padding-left: 10px;
}
.form-emal:invalid {
  border: 1px solid var(--clr-red);
}
.submit-btn {
  width: 129px;
  height: 42px;
  color: var(--clr-black-blue);
  background-color: var(--clr-white);
  border-radius: 5px;
  border: 1px solid var(--clr-black-blue);
  margin-left: 10px;
  cursor: pointer;
}

.submit-btn:active {
  color: var(--clr-green);
  border: 1px solid var(--clr-green);
}

.designer-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  font-weight: lighter;
  padding-bottom: 40px;
}

#designer,
#entity,
#year {
  font-weight: 100;
  color: var(--clr-gray-smoky);
}

/* ---------------- */
/* UTILITY STYLES  */
/* ---------------- */

.clr-white {
  color: var(--clr-white);
}

.round-btn {
  width: 298px;
  height: 54px;
  background-color: var(--clr-orange);
  border-radius: 30px;
  border: 0;
  text-transform: uppercase;
  color: var(--clr-white);
}

.rectangular-btn {
  width: 298px;
  height: 54px;
  background-color: var(--clr-orange);
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  color: var(--clr-white);
}

.feed-btn:hover,
.rectangular-btn:hover {
  cursor: pointer;
  background-color: var(--clr-orange-dark);
}

.feed-btn:active,
.rectangular-btn:active {
  background-color: var(--clr-green);
}
